
.help-container {
    padding: 20px;
    margin: auto;
    min-height: 100vh;
    font-family: Arial, sans-serif;
   /* background-color: #b6bfd8;color: #2b3947; */
    background: linear-gradient(135deg, #0f4c75, #3282b8);
  }
  
  .help-title {
    text-align: center;
    color: #132539;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
  }
  
  
  .faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
  }
  

  .faq-card {
    background-color: #132231;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  
  .faq-question {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #e0f7ff; 
    animation: fadeIn 0.3s ease;
  }
  

  .faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Animation for answer */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  