.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 50px; 
    height: 80vh; 
    background-color: #f5f5f7; 
    border-radius: 30px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px 0; 
    margin: 20px;
  }
  
  .icon-container {
    margin: 20px 0;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

  }
 
  .icon:hover {
    transform: scale(1.2);
  }
  